#summary, .imageTitle, h1, h2, .imgText
{
	text-align: center;
}

.imageTitle
{
	font-size: 1vw;
}

.imgLink
{
	width: 15%;
	display: block;
	margin-top: 2%;
}

.mediumImage
{	
	width: 30%;
}

img
{
	display: block;
	margin: auto;
	width: 80%;
	border-radius: 4%;
}

h1, h2, p, .imgText, ul, table
{
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	font-family: Lato;
}

.imgText
{
	font-weight:bold;
}

ul
{
	text-align: left;
}

h1
{
	font-size: 4.5vw;
}

h2 
{
	font-size:2.5vw;
}

p, ul
{
	font-size: 2vw;
	margin-left: 10%;
	margin-right: 10%;
}

table
{
	font-size: 2vw;
	display: block;
	margin: auto;
	width: 80%;
	border-collapse: collapse;
}

table, td, th
{
	border-style: solid;
	border-color: gray;
}

td, th
{
	padding: 3vw;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) 
{
	h1
	{
		font-size: 7vw;
	}
	
	h2
	{
		font-size: 5vw;
	}
	
	p
	{
		font-size: 4vw;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	img
	{
		width: 90%;
	}
	
	.imageTitle
	{
		font-size: 2vw;
	}
	
	.imgLink
	{
		width: 45%;
		display: block;
		margin-top: 2%;
	}
}